@font-face {
    font-family: 'norsebold';
    src: url('norse-bold-webfont.woff2') format('woff2'),
         url('norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    display: flex;
    margin: 0;
    
}

.sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(236, 236, 236);
    height: 100vh;
    width: 65vw;
}

.sign-up-title {
    width: 40vw;
    margin: 0 0 10vh 40px;

    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 700;
}

.logo-section {
    background: url("parrot.avif");
    background-size: 35vw 100vh;
    height: 100vh;
    width: 35vw;
}

img {
    max-width: 130px;

    z-index: 1;
}

.logo-background {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: norsebold;
    font-size: 65px;

}

.test {
    margin-top: 13vh;
    position: relative;
}

.logo-background {
    background-color: rgba(0, 0, 0, 0.466);
    width: 35vw;
    height: 20vh;
    position: absolute;

    top: 0;
}

fieldset {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 3px 5px rgb(189, 189, 189);
    position: relative;
    padding: 30px 0 0 6px;
    height: 350px;
    margin: 0;
    border: none;
}

label {
    display: flex;
    flex-direction: column;
    margin: 0 1em 25px 2em;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

input {
    border: 2px rgb(204, 204, 204) solid;
    border-radius: 0.3em;
    height: 25px;
    width: 30vh;

}

input + span {
    position: relative;
}

form input:focus {
    border: 2px rgb(78, 140, 255) solid;
    outline: none;
    box-shadow: 0 3px 5px rgb(189, 189, 189);
}

/*
form.submitted input:invalid + span::after{
    position: absolute;
    color: red;
    content: "X";
    right: 5px;
    top: -21px;
}
*/

form.submitted input:invalid{
    border-color: red;
    box-shadow: 0 3px 5px rgba(236, 24, 24, 0.295);
}

legend {
    position: absolute;
    top: 8px;
    left: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 700;
}

input[type="submit"] {
    margin: 35px 0 0 70px;
    height: 50px;
    width: 220px;
    
    background-color: rgb(25, 90, 25);
    color: white;
    border: none;
    border-radius: 0.6em;

    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

input:focus[type="button"] {
    border: none;
    outline: none;
    box-shadow: none;
}

.log-in {
    margin: 25px 0 0 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}